* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.35rem;
	height: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background: gray
}

ul.slick-dots {
	height: 1rem;
}

button::before {
	margin-top: -3rem;
	transform: scale(1.75);
}

.slick-dots li.slick-active button:before {
	color: #E2E8F0 !important;
}

.slick-dots li button:before {
	color: #A0AEC0 !important;
}